<% layout("/layouts/boilerplate") %>
<div class="row  mt-3">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POSt" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  name="listing[description]"  cols="30" rows="5" class="form-control" required><%= listing.description %></textarea> 
            <div class="invalid-feedback">please enter a short Description</div>
        </div>

        <div class="mb-3">
            <i>original listing image</i><br>
            <img src="<%= originalImageUrl %>" alt="listing_img">
        </div>  
      
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">please enter a valid price</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
            <div class="invalid-feedback">please enter a valid country name</div>
        </div>
        </div>
        </div>
        
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">please enter a valid location</div>
        </div>
       
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
</div>

    
